<!DOCTYPE html>
<html>

<body>

<div class="sidenav">
    
  <a href="#">Dashboard</a>
  <a href="<?php echo base_url('index.php/welcome/test')?>">Departments</a>
  <a href="<?php echo base_url('index.php/welcome/employees')?>">Employees</a>
  <a href="<?php echo base_url('index.php/welcome/saralies')?>">Salaries</a>
  <a href="<?php echo base_url('index.php/welcome/titles')?>">Titles</a>


  <a href="#clients">Clients</a>
  <a href="#contact">Contact</a>
</div>
<div class="main"></div>
     
</body>
</html> 